<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<xmlns:th="http://www.thymeleaf.org")></xmlns:th>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:fragment="header" class="header">
            <p>Moja e-przychodnia</p>
        </div>

        
     
            <div th:fragment="sec1">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="active"><a th:href="@{/}" style="background-color: transparent;">
                                    Wróc do strony głównej</a>
                            </li>
                        </ul>
                        <div sec:authorize="isAnonymous()">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Nie jesteś zalogowany <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a th:href="@{/register}"><span class="glyphicon glyphicon-log-in"></span>   Załóż nowe konto</a></li>
                                        <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>   Zaloguj się</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i style='font-size:24px' class='fas'>&#xf406;</i>
                                        Jesteś zalogowany jako: <b><span sec:authentication="name"></span></b>
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a th:href="@{/myBooking}"><span class="glyphicon glyphicon-info-sign"></span>Moje wizyty</a></li>
                                        <li>
                                            <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Wyloguj
                                                się
                                            </a>
                                            <form style="visibility: hidden" id="form" method="post" action="#"
                                                th:action="@{/logout}"></form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
    
    </body>
    </html>