<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Moja e-przychodnia</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <style>
        .glyphicon {
            font-size: 100px;
            display: block;
            text-align: center;
        }
    </style>
</head>

<body>
    <header th:insert="fragments/general.html :: header"> </header>
    <div th:insert="fragments/general.html :: sec1"> </div>
    <div class="right">
        <br>
        <p> <span class="glyphicon glyphicon-ok-circle"></span></p>    
        <h1> Wizyta została umówiona!</h1>
        <h5>Przekierowanie na stronę główną nastąpi za <span id="counter"> 15 </span> sekund. 
            Kliknij poniżej, aby przejść do strony głównej: </h5>
            <a th:href="@{/}" class="btn btn-primary">Wróć do strony głównej.</a>
    </div>
</body>

<script>
    setInterval(function () {
        var div = document.querySelector("#counter");
        var count = div.textContent * 1 - 1;
        div.textContent = count;
        if (count <= 0) {
            document.getElementById("counter").innerHTML = "0";
            window.location.replace("/");
        }
        
    }, 1000);
</script>

</html>