<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Moja e-przychodnia</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
</head>

<body>
    <header th:insert="fragments/general.html :: header"> </header>
    <div th:insert="fragments/general.html :: sec1"> </div>
    <div class="right">

        <h2 style="text-decoration: underline;">Szczegóły wizyty:</h2>
        <h2 th:text="${doctor.degree}+' '+${doctor.name}+' '+${doctor.surname}"></h2>
        <h4 th:text="'specjalizacja:  '+${doctor.specialization}"></h4>
        <h4 th:text="'Data wizyty:  '+${#dates.format(booking.date, 'dd.MM.yyyy')}"></h4>
        <h4 th:text="'Godzina wizyty:  '+${booking.time}"></h4>
        <h4 th:text="'Typ wizyty:  '+${booking.type}"></h4>
        <h4 th:text="'Cena wizyty:  '+${#numbers.formatDecimal(appointment.price,3,2,'COMMA')}+'zł'"></h4>
        <h4 th:text="'Status wizyty:  '+${status}"></h4>
        <br>
        <h3> <a th:href="@{/doctors?page=1}" class="btn btn-primary">Umów kolejną wizytę.</a></h3></a>
        <h3> <a th:href="@{showBookingAfterNow}" class="btn btn-primary">Przejdz do moich wizyt.</a></h3></a>
        </div>

    </div>
</body>


</html>