<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Moja e-przychodnia</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <style>
        th {
            text-align: center;
        }

        .table {
            table-layout: fixed;
            width: 100%;

        }
    </style>
</head>

<body>
    <header th:insert="fragments/general.html :: header"> </header>
    <div th:insert="fragments/general.html :: sec1"> </div>
    <div class="right">

        <form method="post" th:action="@{/confirm/{bid}(bid=${booking.id})}">
            <h2 th:text="${doctor.degree}+' '+${doctor.name}+' '+${doctor.surname}"></h2>
            <h4 th:text="'specjalizacja:  '+${doctor.specialization}"></h4>
            <h4 th:text="'Data wizyty:  '+${#dates.format(booking.date, 'dd.MM.yyyy')}"></h4>
            <h4 th:text="'Godzina wizyty:  '+${booking.time}"></h4><br>
            <table class="table table-striped" style="font-size: 14px;">
                <thead>
                    <tr style="background-color: #ccc;">
                        <th></th>
                        <th>Typ wizyty</th>
                        <th>Cena wizyty</th>
                    </tr>
                </thead>
                <tbody>


                    <tr style="border: 1px solid #ccc" th:each="appointment: ${appointments}"
                        th:if="${appointment.specialization.equals(specialization)}">

                        <td> <input type="radio" th:name="type" th:value="${appointment.type}">
                        </td>
                        <td>
                            <label th:text="${appointment.type}" style="font-weight: normal;"
                            
                            ></label>
                        </td>
                        <td th:text="${#numbers.formatDecimal(appointment.price,3,2,'COMMA')}"
                      ></td>
                    </tr>
                    <tr>
                        <td colspan="3"><br>
                            <button type="submit" class="btn btn-primary" style="width:100%">
                                Kliknij aby potwierdzić wizytę <br />i zobaczyć szczegóły.</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>

    </div>
</body>


</html>