<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Moja e-przychodnia</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header th:insert="fragments/general.html :: header"> </header>
    <div th:insert="fragments/general.html :: sec1"> </div>
    <div class="right">
    <b><h1 th:text="${doctor.name}+' '+${doctor.surname}"></h1></b>
    <h2 th:text="'specjalizacja:  '+${doctor.specialization}"></h2>

    <form action="#" th:action="@{/booking}" method="post" th:object="${booking}">
        <label>Wybierz date</label>
        <input type="date" th:field="*{date}" min="${booking.today}" max="2022-11-28" /></p>

        <div sec:authorize="hasRole('USER')">Text visible to user.</div>
<!--             <span th:if="${user.hasRole('USER')}" >
                <button type="submit" class="button" disabled="disabled">Submit</button>
            </span>
            <span th:unless="${user.hasRole('USER')}" >
                <button type="submit" class="button">Submit</button>
            </span> -->

            <div class="form-group" th:if="${#authorization.expression('hasRole(''USER'')')}">
                <button type="submit" class="button" >Submit</button>
            </div>
            <div class="form-group" th:unless="${#authorization.expression('hasRole(''USER'')')}">
                <button type="submit" class="button" disabled="disabled">Submit</button>
            </div>
        
    </form>

    <table>
        <tr>
            <th>Typ wizyty</th>
            <th>Cena wizyty</th>
        </tr>
        <tr th:each="appointment: ${appointments}" th:if="${appointment.specialization.equals(doctor.specialization)}">
            <td> <input type="checkbox"> <label th:text="${appointment.type}"></label></td>
            <td th:text="${appointment.price}"></td>


        </tr>
        <tr>
            <select>
                <option th:value="15.00" th:text="15.00"></option>
                <option th:value="15.30" th:text="15.30"></option>
                <option th:value="16.00" th:text="16.00"></option>
            </select>

            <select id="percentage" name="percentage">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>

                <option value="100">100</option>
            </select>
        </tr>

    </table>

</div>
    <script>
        var today = new Date().toLocaleDateString();
        document.write(today);
    </script>
</body>

</html>